<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="availableHubs" type="Common.Utils.EndPointsConfigurationSection, Common"/>
    <section name="availableIndexers" type="Common.Utils.EndPointsConfigurationSection, Common"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="DefaultClientPort" value="20588"/>
    <!--<add key="DefaultEndPointUrl" value="http://192.168.0.100:2143/"/>-->
    <add key="DonwloadFolderPath" value="C:\MamaNet Downloads"/>
  </appSettings>
  <availableHubs>
    <add EndPoint="http://192.168.0.100:2143"/>
    <add EndPoint="http://192.168.0.100:9090"/>
  </availableHubs>
  <availableIndexers>
    <add EndPoint="http://192.168.0.100:3000"/>
  </availableIndexers>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
